!!! 5
html
  head
    style
      body { font-family:verdana, sans-serif }

  body
    h1 nodes in index:
    ul
      each node in nodes
       li= JSON.stringify(node._data)

    h1 add new node:
    form(method="post",action="/")
      input(type="text",name="name")
      input(type="submit",value="Submit")
